#Unecessary and sensitive R info
.Rproj.user
.DS_Store
.Rhistory

#Figures and tables created in the scripts
tables/**
figures/**
#But keep placeholder files to retain file structure
!tables/.keep
!figures/.keep

#Big datasets
psp_tree.csv
psp_tree_cwh.csv